<h1>Add Song</h1>

<form>
    <div class="form-group">
      <label for="exampleFormControlInput1 mt-4">song name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter artist name">
      <label for="exampleFormControlInput1 mt-4">language</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter language">
      <label for="exampleFormControlInput1 mt-4">picture url</label>
      <input type="url" class="form-control" id="exampleFormControlInput1" placeholder="enter url">
      <label for="exampleFormControlInput1 mt-4">song url</label>
      <input type="url" class="form-control" id="exampleFormControlInput1" placeholder="enter song url">
      

      <button type="submit" class="btn btn-primary mt-4">Submit</button>

    </div>
    
  </form>